body{
    background-color: rgb(189, 189, 216);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(59, 14, 14);
    color : rgb(142, 194, 142);
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

nav{
    background-color: rgb(238, 203, 161);
    color:  rgb(220, 9, 9);
    font-weight : bold;
    width: 50%;
}
title{
    color: rgb(14, 210, 210);
}
text{
    color: rgb(0, 255, 162);
}
image{
    color: #006d8b;
}
form{
    color: rgb(217, 15, 220);
}
button{
    background-color: #023847;
    color: rgb(114, 204, 50) ;
}footer{
  background-color: violet;
  color: azure;
}